<div class="releases">
    <li>
        <br><br>
        <% @releases.each do |release| %>
            <%= link_to release_path(release.id) do%>

                <div class="cards">
                    <%= image_tag('placeholder-release.png', style: "width: 100%; justify-content: center;")  %><br>
                    <%= release.artist %><br>
                    <%= release.name %><br>
                    <%= release.release_code %><br>
                    <%= release.description %><br>
                </div>
            <%end%>
        <%end%>
    </li>
</div>
